#body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}
    #nav {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 20%;
        background: var(--color-black-lighten);
        z-index: 3;
    }
        #nav-itens {
            width: auto;
            padding: 20px;
        }
            .nav-item {
                width: auto;
                list-style: none;
                font-family: 'Simplifica';
                font-size: 32px;
                text-transform: uppercase;
                text-align: center;
            }
                .nav-item a {
                    position: relative;
                    color: var(--color-white-lighten);
                    font-family: 'Simplifica';
                    text-decoration: none;
                    z-index: 3;
                }
                .nav-item .router-link-exact-active::after {
                    width: 100%;
                }
            .nav-item + .nav-item {
                margin-top: 25px;
            }
    #content {
        position: relative;
        width: 80%;
        display: grid;
        grid-template-rows: 1fr 16fr 1fr;
        grid-template-columns: 1fr;
        transition: all 2s;
        background: var(--color-black-darken);
    }
    #content.base-active #content-header {
        opacity: 0;
    }
        #content-header {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-left: 20px;
            padding-right: 20px;
            transition: opacity .2s;
            z-index: 2;
        }
            #contatos {
                display: flex;
                height: 100%;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
            }
            .contato {
                list-style: none;
                font-size: 24px;
            }
            .contato a {
                color: #333;
                text-decoration: none;
            }
            .contato + .contato {
                margin-left: 12px;
            }
        #content-body {
            position: relative;
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            overflow: hidden;
            padding: 10px 20px;
        }
            .main {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
                .main-header {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    padding: 4% 0;
                }
                    .page-title {
                        font-family: 'Simplifica';
                        font-size: 32px;
                        font-weight: 300;
                        color: var(--color-grey-lighten);
                        text-align: center;
                        text-transform: uppercase;
                    }
                .main-body {
                    padding: 20px 80px;
                }
        #content-footer {
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
            grid-row-start: 3;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            z-index: 2;
        }
            #content-footer p {
                display: flex;
                align-items: center;
                font-family: 'Lato';
                color: var(--color-grey-darken);
            }
            #redes-sociais {
                display: flex;
                height: 100%;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
            }
            .rede-social {
                list-style: none;
                font-size: 24px;
            }
            .rede-social a {
                text-decoration: none;
            }
            .rede-social + .rede-social {
                margin-left: 10px;
            }
            .rede-social span {
                transition: transform .4s ease-in-out;
            }
            .rede-social span:hover { transform: rotate(360deg); }