@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("values/colors.css");
@import url("values/dimens.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-black-darken);
    font-size: 1rem;
    font-family: Poppins, Arial, sans-serif;
    line-height: 1.6;
    outline: none;
    transition-property: color, background-color;
    transition: ease-in .5s;
}

*::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

*::-webkit-resizer {
    background-color: transparent;
}

*::-webkit-scrollbar-button {
    height: 2px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    display: block;
    background-color: var(--color-grey-lighten);
    margin-right: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

.subtitle {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 700;
}

.paragraph {
    margin: 0 0 20px 0;
    font-size: 1rem;
    color: var(--text-color);
    text-align: left;
}

.paragraph * {
    color: var(--text-color);
}

.subtitle+.paragraph,
.paragraph+.paragraph {
    margin: 20px 0;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    opacity: 0;
    width: 150px;
    background-color: var(--color-black-darken);
    font-size: .3rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    width: 220px;
    top: 110%;
    left: 50%;
    margin-left: -110px;
    z-index: 3;
    transition: .2s .2s opacity;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color-black-darken) transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

.button {
    align-self: flex-start;
    padding: .5rem 2rem;
    font-size: .8rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s;
    font-weight: 600;
}

input {
    color: var(--text-color);
}

.basic-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    line-height: 1;
}

/* 000webhost */
img[alt="www.000webhost.com"] {
    display: none !important;
}