@import url("fonts/simplifica/resources.css");
@import url("values/colors.css");
@import url("values/dimens.css");

* :not(ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "DM Sans", sans-serif;
    color: var(--color-black-darken);
    line-height: 1.4em;
}

*::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    display: none;
}

*::-webkit-resizer {
    background-color: transparent;
}

*::-webkit-scrollbar-button {
    height: 2px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    display: block;
    background-color: var(--color-grey-lighten);
    margin-right: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

.fa-envelope {
    color: var(--color-blue);
}

.fa-whatsapp {
    color: var(--color-whatsapp);
}

.fa-github {
    color: var(--color-github);
}

.fa-linkedin {
    color: var(--color-linkedin);
}

a {
    text-decoration: none;
    color: var(--color-blue-grey);
}

a:hover {
    text-decoration: underline;
}

.link {
    position: relative;
    color: var(--color-white-lighten);
    text-decoration: none;
    z-index: 3;
}

.link::after {
    content: "";
    display: block;
    position: relative;
    width: 0%;
    border: solid transparent;
    border-width: 2px 0 0;
    margin-top: 0;
    height: 0;
    z-index: 2;
    border-color: var(--color-blue-grey);
    transition: .2s .06s all;
}

.link:hover::after {
    width: 100%;
}

.subtitle {
    font-size: 18px;
    color: var(--color-grey-darken);

    font-weight: 700;
}

.paragraph {
    margin: 0 0 20px 0;
    font-size: 16px;
    color: var(--color-white-lighten);
    text-align: left;
}

.paragraph * {
    color: var(--color-white-lighten);
}

.subtitle+.paragraph,
.paragraph+.paragraph {
    margin: 20px 0;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    opacity: 0;
    width: 150px;
    background-color: var(--color-black-darken);
    font-size: .3em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    width: 220px;
    top: 110%;
    left: 50%;
    margin-left: -110px;
    z-index: 3;
    transition: .2s .2s opacity;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color-black-darken) transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.form-button {
    align-self: flex-start;
    margin: 20px 0 0 0;
    padding: 12px 24px;
    font-size: 14px;
    color: var(--color-white-lighten);
    background-color: var(--color-blue-grey);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s;
    font-weight: 700;
}

img[alt="www.000webhost.com"] {
    display: none !important;
}